/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

:root {
    /* IMAGENES */
    --desktop: url(/IMG/desktop1.webp);
    --laptop1: url(/IMG/laptop.webp);
    --laptop2: url(/IMG/laptop2.webp);
    --laptop3: url(/IMG/laptop3.webp);
    --analisis-clinicos: url(/IMG/figma.webp);
    --contact: url(/IMG/contact-me1.webp);
    --mentordigital: url(/IMG/mentordigital.webp);
    --checkpoint-zone: url(/IMG/checkpointzone.webp);
    --goodness-snacks: url(/IMG/laptop-goodness.webp);
    --glowcare: url(/IMG/glowcare-desktop.webp);
    --urbannest: url(/IMG/publicidad-urbannest.png);

    /* SKILLS */
    --html: url(/SKILLS/bxl-html5.svg.svg);
    --css: url(/SKILLS/bxl-css3.svg.svg);
    --js: url(/SKILLS/bxl-javascript.svg.svg);
    --tailwind: url(/SKILLS/bxl-tailwind-css..svg);
    --bootstrap: url(/SKILLS/bxl-bootstrap.svg.svg);
    --react: url(/SKILLS/bxl-react.svg.svg);
    --github: url(/SKILLS/github.svg);
    --illustrator: url(/SKILLS/illustrator.svg);
    --photoshop: url(/SKILLS/photoshop.svg);
    --figma: url(/SKILLS/bxl-figma.svg.svg);

    /* SOCIAL-MEDIA */
    --behance: url(/SOCIAL-MEDIA/behance.svg);
    --gmail: url(/SOCIAL-MEDIA/gmail.svg);
    --linkedin: url(/SOCIAL-MEDIA/linkedin.svg);
    --upwork: url(/SOCIAL-MEDIA/upwork.svg);

    /* SVG */
    --cliente: url(/SVG/client-work.svg);
    --developer: url(/SVG/developer.svg);
    --dev: url(/SVG/developer.svg);
    --dev-work: url(/SVG/dev-working.svg);
    --elejido: url(/SVG/porqueelejirme.svg);
    --responsive-device: url(/SVG/responsive-device.svg);
    --team: url(/SVG/team-working.svg);
    --UX-UI: url(/SVG/UXUI.svg);
    --menu: url(/SVG/menu.svg);
    /* --wave: url(/SVG/wavesNegative.svg);
    --wave-opacity: url(/SVG/wavesNegativeopacity.svg); */
    --wave: url(/SVG/waves.svg);
    --double-arrow: url(/SVG/double-arrow.svg);

    /* COLORES */
    --negro: #0D0C0C;
    --gris: #C1C2CA;
    --gradient: linear-gradient(to right, #c1c2ca 32%, #ffff 100%);
    --gradient2: linear-gradient(to right, #0D0C0C, #2F2E41 100%);
    --gradient3: linear-gradient(to bottom, #0D0C0C, #2F2E41 100%);

    /* TIPOGRAFIA */
    --font-forum: 'Forum', Arial, sans-serif;
    --font-barlow-titulo: 'Barlow', Arial, sans-serif;
    --font-lato-texto: 'Lato', Arial, sans-serif;
    --roboto: 'Roboto', Arial, sans-serif;

    /* TAMAÑO-TEXTO */
    --tamaño-titulo: 2.5rem;
    --tamaño-texto: 1.3rem;

    /* LOGO */
    --logoBA: url(/LOGO/LOGOBA4.svg);

    /* CARD-SOMBRAS */
    --card-shadow: 0px 18px 20px -2px rgba(13, 12, 12, 25%);


}


/* CARDS-CONTAINER */
.carousel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    animation: carousel-animation auto both;
    animation-timeline: view();
    animation-range: entry 20vh cover 80vh;
}

@keyframes carousel-animation {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 100%;
    max-width: 500px;
    height: 1100px;
    padding: 20px 40px;
    border-radius: 8px;
}



.prev,
.next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: var(--negro);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    margin: 0 -10px;
    border-radius: 10px;
}

.prev:active,
.next:active {
    transform: scale(1);
    transition: transform .5s;
}



.prev {
    left: 10px;
}

.next {
    right: 10px;
}



/* HEADER */
.desktop__nav {
    background-image: var(--desktop);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.logoBA {
    background-image: var(--logoBA);
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 300;
}



.menu-icon__nav {
    background-image: var(--menu);
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-right: 10px;
}

.menu__buttons {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
    background-color: var(--negro);
    transform: translateY(-100%);
    transition: transform .5s, opacity .5s;
    box-shadow: var(--card-shadow);
    opacity: 0;
    z-index: 200;
}



.menu__buttons:target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}


.button__menu1 {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    text-decoration: none;
    color: var(--gris);
}

.button__menu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container__languajes {
    padding: 5px;
}

.container__languajes summary {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-lato-texto);
    color: var(--gris);
    font-size: var(--tamaño-texto);
    outline: none;
}

.line__menu1 {
    width: 100%;
    height: 2px;
    background-color: var(--gris);
    clip-path: circle(0.0% at 50% 50%);
    transition: clip-path .5s;
}

.contact__link {
    text-decoration: none;
    color: var(--gris);
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
}



.line__menu3 {
    width: 100%;
    height: 2px;
    background-color: var(--gris);
    clip-path: circle(0.0% at 50% 50%);
    transition: clip-path .5s;
}

.contact__link:hover .line__menu3 {
    clip-path: circle(100% at 50% 50%);
}

.proyectos__link {
    text-decoration: none;
    color: var(--gris);
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
}

.line__menu4 {
    width: 100%;
    height: 2px;
    background-color: var(--gris);
    clip-path: circle(0.0% at 50% 50%);
    transition: clip-path .5s;
}

.proyectos__link:hover .line__menu4 {
    clip-path: circle(100% at 50% 50%);
}

.habilidades {
    text-decoration: none;
    color: var(--gris);
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);

}

.line__menu5 {
    width: 100%;
    height: 2px;
    clip-path: circle(0.0% at 50% 50%);
    transition: clip-path .5s;
    background-color: var(--gris);
}

.habilidades:hover .line__menu5 {
    clip-path: circle(100% at 50% 50%);
}


.link-cv {
    text-decoration: none;
    color: var(--gris);
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
}

.line__menu6 {
    width: 100%;
    height: 2px;
    background-color: var(--gris);
    clip-path: circle(0.0% at 50% 50%);
    transition: clip-path .5s;
}

.link-cv:hover .line__menu6 {
    clip-path: circle(100% at 50% 50%);
}


.container__button1 {
    margin-bottom: 1rem;
}

.container__button1:hover .line__menu1 {
    clip-path: circle(100% at 50% 50%);

}

.container__button2 {
    position: relative;
    cursor: pointer;
}

.line__menu2 {
    width: 100%;
    height: 2px;
    background-color: var(--gris);
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: circle(0.0% at 50% 50%);
    transition: clip-path .5s;
}

.container__button2:hover .line__menu2 {
    clip-path: circle(100% at 50% 50%);

}

.languajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
}

.link__languajes {
    text-decoration: none;
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--gris);
}

.link__languajes:hover {
    text-decoration: underline;
}


.arrow-icon {
    fill: var(--gris);
    width: 40px;
}


.container__titles {
    /* background-color: #0d0c0c79; */
    overflow: hidden;
    height: 40px;
}

.title__1 {
    animation: animation-title-1 3s 2s linear alternate infinite;
    color: var(--gris);
    font-size: 2rem;
    font-family: var(--font-barlow-titulo);
    transition: transform 500ms;
    text-transform: uppercase;
}

@keyframes animation-title-1 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.title__2 {
    color: var(--gris);
    animation: animation-title-2 3s 2s linear alternate infinite;
    font-size: 2rem;
    transition: transform 500ms;
    font-family: var(--font-barlow-titulo);
    text-transform: uppercase;
}

@keyframes animation-title-2 {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}





.info__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    text-align: center;
    height: 320px;
    animation: nav-description 1.5s ease-in-out both;
    overflow: hidden;
}

@keyframes nav-description {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.title__nav {
    font-size: var(--tamaño-titulo);
    font-family: var(--font-barlow-titulo);
    text-transform: uppercase;
    font-weight: bold;
    display: none;
}

.description__nav {
    font-size: var(--tamaño-texto);
    font-family: var(--font-lato-texto);
    padding: 0 1rem;
}

/* MAIN */

.modal-container {
    display: none;  /* Moved from HTML */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
    
  .modal-content {
    background: var(--gradient3);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
  }

  :is(.modal-content) h3 {
    color: var(--gris);
    font-family: var(--roboto);
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }

  :is(.modal-content) p {
    color: var(--gris);
    font-family: var(--font-lato-texto);
    font-size: 1.2rem;
  }
  
  .modal-content button {
    margin-top: 1rem;
    padding: 8px 20px;
    background: var(--negro);
    color: var(--gris);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.3rem;
  }





.container__design {
   opacity: 0;
   display: none;
   position: fixed;
   bottom: 30px;
   right: 0;
   z-index: 1;
}

.container__design:target {
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.container__design::before {
    content: "";
    background-color: #0d0c0cad; /* Semi-transparent black background */
    position: fixed; /* Fixed position to cover entire viewport */
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width */
    z-index: -1;
}

:has(.container__design:target) .container__agent {
    display: none;
}

.content__design {
    width: 90%;
    margin: 0 auto;
    background-color: var(--gris);
    border-radius: 20px;
}

.step__before {
    fill: var(--negro);
    width: 50px;
    height: 50px;
}

/* FORM - AGENT */

.back__options {
    fill: var(--negro);
    width: 50px;
    height: 50px;
}


.field {
    margin-bottom: 20px;
    position: relative;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color: var(--negro);
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    position: absolute;
    top: 2px;
    left: 5px;
    transition: font-size 0.5s, top .5s;
  }

 .field input:focus + label{
    top: 2px;
    font-size: 12px;
}



.field textarea:focus + label{
    top: 2px;
    font-size: 12px;
}

  .field input {
    display: block;
    line-height: 1.5;
    font-size: 1.3rem;
    width: 100%;
    height: 3.2rem;
    outline: none;
    border: var(--negro) 2px solid;
    cursor: pointer;
    font-family: var(--font-lato-texto);
    padding-top: 1rem;
    padding-left: .5rem;
    border-radius: 10px;

  }

  .field textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    border: var(--negro) 2px solid;
    cursor: pointer;
    font-family: var(--font-lato-texto);
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-left: .5rem;
    border-radius: 10px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 1rem;
    font-size: 14px;
    background-color: var(--negro);
    color: var(--gris);
    border: none;
    width: 150px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }

  input[type="submit"]:hover {
    background: linear-gradient(to right, #0D0C0C, #2F2E41 100%);
  }

  /* CONTENEDOR - AGENTE */

.container__agent2 {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    opacity: 0;
    display: none;
    transition: opacity .5s, display .5s;
}

.container__agent2:target {
    opacity: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.container__agent2::before {
    content: "";
    background-color: #0d0c0cad; /* Semi-transparent black background */
    position: fixed; /* Fixed position to cover entire viewport */
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width */
    z-index: -1;
}



.gradient__background {
    background: var(--gradient2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.close__agent {
    fill: var(--gris);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.container__chat {
    background-color: var(--gris);
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title__agent {
    font-family: var(--roboto);
    font-size: 1.8rem;
    font-weight: bold;
}

.text__agent {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin: 1rem 0;
}

.links__agent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;
}

.option__agent {
    text-decoration: none;
    background: var(--negro);
    color: var(--gris);
    padding: .6rem;
    font-size: var(--tamaño-texto);
    border-radius: .6rem;
    font-family: var(--font-lato-texto);
}

.option__agent:focus {
    background: var(--gradient2);
}


.icon__agent2 {
    background-image: var(--logoBA);
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* MODAL CON MENSAJE DE CHATEAME */
/* .container-empezarchat {
 position: fixed;
 bottom: 150px;
 right: 30px; 
 background-color: var(--negro);
 color: var(--gris);
 padding: 1rem;
 border-radius: 10px;
} */


/* Hide agent icon when agent window is shown */
:has(.container__agent2:target) .container__agent {
    display: none;
}

.container__agent {
    background: linear-gradient(to bottom, #0D0C0C, #2F2E41 100%);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    padding: 1rem;
    z-index: 50;
}

.icon__agent {
    background-image: var(--logoBA);
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    animation: glow 2s infinite ease-in-out alternate;
    border-radius: 100%;
    border-color: var(--gris);
}

@keyframes glow {
    0% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
    50% { box-shadow: 0 0 15px rgba(255, 255, 255, 1); }
    100% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
  }



.container__chat2 {
    padding: 1rem;
}

.container__chat2 :is(h2) {
    font-family: var(--font-barlow-titulo);
    font-size: 2rem;      
}

.container__chat2 :is(p) {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin: 1rem 0;
}




.title__main {
    text-align: center;
    margin: 5rem 0;
    padding: 0 1.2rem;
}

.title__section {
    margin-bottom: 4rem;
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    text-transform: uppercase;
    color: var(--negro);
    animation: titulo-seccion auto both;
    animation-timeline: view();
    animation-range: entry 40vh cover 60vh;
}

@keyframes titulo-seccion {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.container__team {
    animation: work-team auto both;
    animation-timeline: view();
    animation-range: entry 40vh cover 60vh;
}

@keyframes work-team {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.container__freelance {
    animation: freelance auto both;
    animation-timeline: view();
    animation-range: entry 40vh cover 60vh;
}

@keyframes freelance {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.container__skills {
    animation: habilidades auto both;
    animation-timeline: view();
    animation-range: entry 20vh cover 40vh;
}

@keyframes habilidades {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.title-team,
.title-freelance {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    text-transform: uppercase;
    color: var(--negro);
    text-decoration: underline;
}

.team {
    background-image: var(--team);
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.freelance {
    background-image: var(--cliente);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

.description-team,
.description-freelance {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin: 1rem 0;
}



.line {
    width: 100%;
    height: 1px;
    background-color: var(--gris);
    margin: 2rem 0;
}

.container__skills {
    margin: 3rem 0;
    overflow: hidden;
}

.title__skills {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    text-transform: uppercase;
    color: var(--negro);
    text-decoration: underline;
}

.skills__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: carrusel 15s linear both infinite;
    margin: 1rem 0;
}

@keyframes carrusel {
    from {
        transform: translateX(-180%);
    }

    to {
        transform: translateX(180%);
    }
}


#html {
    width: 100px;
    height: 100px;
    fill: var(--negro);
    transition: .5s;
}

#html:hover {
    fill: rgb(241, 81, 23);
}

#css {
    width: 100px;
    height: 100px;
    fill: var(--negro);
    transition: .5s;
}

#css:hover {
    fill: rgb(0, 128, 248);
}

#tailwind {
    width: 100px;
    height: 100px;
    fill: var(--negro);
    transition: .5s;
}

#tailwind:hover {
    fill: rgb(6, 156, 249);
}

#bootstrap {
    width: 100px;
    height: 100px;
    fill: var(--negro);
    transition: .5s;
}

#bootstrap:hover {
    fill: rgb(166, 9, 219);
}

#figma {
    width: 100px;
    height: 100px;
    fill: var(--negro);
}




#photoshop {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    fill: var(--negro);
    transition: .5s;
}

#photoshop:hover {
    fill: rgb(33, 48, 105);
}

#github {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    fill: var(--negro);
}

.cards__container {
    display: none;
}

.background__proyectos {
    background-color: rgba(193, 194, 202, 0.141);
    position: relative;
    padding: 1rem;
    /* margin: 1rem 0; */
    margin-top: 8rem;
}



.background__proyectos::before {
    background-image: var(--wave);
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}



.info__proyectos {
    position: relative;
    animation: proyectos auto both;
    animation-timeline: view();
    animation-range: entry 20vh cover 40vh;
}

@keyframes proyectos {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dev__working {
    background-image: var(--dev);
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    opacity: 50%;
}

.container__herramientas {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}


.text__herramientas {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    font-weight: bold;
}

.herramientas {
    display: flex;
    align-items: center;
}


.html-tool {
    width: 50px;
    height: 50px;
}

.css-tool {
    width: 50px;
    height: 50px;
}

.figma-icon1 {
    width: 50px;
    height: 50px;
}

.titulo__proyectos {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    text-transform: uppercase;
    text-align: center;
    color: var(--negro);
}

.texto__proyectos {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    font-weight: bolder;
    text-align: center;
    color: var(--negro);
}

.ver__proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid var(--negro);
    width: 50%;
    margin: 1rem auto;
    border-radius: 10px;
    transition: background-color .5s;
    background-color: transparent;
}

.ver__proyectos:hover {
    background-color: var(--negro);
}

.ver__proyectos:hover .text__btn {
    color: var(--gris);
}

.ver__proyectos:hover #vector-github {
    fill: var(--gris);
}

.icon-git {
    width: 50px;
}

.text__btn {
    font-family: var(--font-lato-texto);
    color: var(--negro);
    font-size: var(--tamaño-texto);

}


.card__proyectos {
    margin: 5rem 0;
    width: 100%;
}

/* CARD-SERENITY-SPA */

.card-serenityspa {
    border: 2px solid var(--negro);
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    overflow: hidden;
}


.serenity-img {
    background-image: var(--laptop1);
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    transition: transform .5s, filter .5s;
}

.card__buttons:hover .serenity-img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.card__buttons {
    position: relative;
    transform: scale(1);
    filter: brightness(100%);
    transition: transform .5s, filter .5s;
}

.link__buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;


}

.card__buttons:hover .link__buttons {
    opacity: 1;
}


.card__buttons:hover .serenity-img {
    transform: scale(1.1);
    filter: brightness(50%);
}


.linkweb,
.figmalink {
    font-family: var(--font-lato-texto);
    text-decoration: none;
    font-size: var(--tamaño-texto);
    color: var(--gris);
    border: 2px solid var(--gris);
    padding: 10px;
    margin: 10px 0;
    display: flex;
    border-radius: 10px;
}

.card__buttons:hover {
    transition: .5s;
}


.linkweb:hover,
.figmalink:hover {
    background-color: var(--negro);
    color: var(--gris);
    transition: .5s;
}

.figma-icon {
    width: 30px;
    height: 30px;
}

.description__card {
    padding: 20px;
}

.titulo__spa {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
}

.slogan__spa,
.text__spa {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin-top: 1rem;
}



/* CARD-EXPLOREASE */

.card-explorease {
    border: 2px solid var(--negro);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}

.explore-img {
    background-image: var(--laptop2);
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    transition: transform .5s, filter .5s;
}

.card__buttons:hover .explore-img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.titulo__explore {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
}

.slogan__explore,
.text__explore {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin-top: 1rem;
}



/* CARD-EDUPRO-ACADEMY */

.card-edupro-academy {
    border: 2px solid var(--negro);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}

.edupro-img {
    background-image: var(--laptop3);
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    transition: transform .5s, filter .5s;
}


.card__buttons:hover .edupro-img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.titulo__education {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
}

.slogan__education,
.text__education {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin-top: 1rem;
}


/* CARD-ANALISIS-CLINICOS */
.card-analisis-clinicios {
    border: 2px solid var(--negro);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}



.analisis-img {
    background-image: var(--analisis-clinicos);
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    transition: transform .5s, filter .5s;

}

.card__buttons:hover .analisis-img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.warning {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--negro);
    color: var(--gris);
    padding: .3rem;
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    opacity: 1;
    transition: opacity .5s;
}

.card__buttons:hover .warning {
    opacity: 0;
}

.titulo__analisis {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
}

.slogan__analisis,
.text__analisis {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin-top: 1rem;
}


/* CARD-MENTOR-DIGITAL */
.mentordigital {
    background-image: var(--mentordigital);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    transition: transform .5s, filter .5s;

}

.card__buttons:hover .mentordigital {
    transform: scale(1.1);
    filter: brightness(50%);
}


.card-mentordigital {
    border: 2px solid var(--negro);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}

.titulo__mentor {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
}

.slogan__mentor,
.text__mentor {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin-top: 1rem;
}



/* CARD-CHECKPOINT-ZONE */
.card-checkpointzone {
    border: 2px solid var(--negro);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}

.checkpoint-zone {
    background-image: var(--checkpoint-zone);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    transition: transform .5s, filter .5s;
}

.card__buttons:hover .checkpoint-zone {
    transform: scale(1.1);
    filter: brightness(50%);
}

.titulo__checkpoint {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
}

.slogan__checkpoint,
.text__checkpoint {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin-top: 1rem;
}


/* CARD-GOODNESS-SNACKS */
.card-goodness-snacks {
    border: 2px solid var(--negro);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}

.goodness-snacks {
    background-image: var(--goodness-snacks);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    transition: transform .5s, filter .5s;
}


.card__buttons:hover .goodness-snacks {
    transform: scale(1.1);
    filter: brightness(50%);
}

.titulo__goodness {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
}

.slogan__goodness,
.text__goodness {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin-top: 1rem;
}


/* CARD-GLOWCARE */
.card-glowcare {
    border: 2px solid var(--negro);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}

.glowcare {
    background-image: var(--glowcare);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    transition: transform .5s, filter .5s;
}

.card__buttons:hover .glowcare {
    transform: scale(1.1);
    filter: brightness(50%);
}

.titulo__beauty {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
}

.slogan__beauty,
.text__beauty {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin-top: 1rem;
}

#tailwind-icon {
    width: 50px;
    height: 50px;
}

.js-icon {
    width: 50px;
    height: 50px;
    transition: fill 0.5s;
}

.js-icon:hover {
    fill: rgb(167, 167, 0);
}

/* URBANNEST */
.card-urbannest {
    border: 2px solid var(--negro);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
}

.urbannest {
    background-image: var(--urbannest);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    transition: transform .5s, filter .5s;
}

.card__buttons:hover .urbannest {
    transform: scale(1.1);
    filter: brightness(50%);
}

.titulo__urbannest {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
}

.slogan__urbannest,
.text__urbannest {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
    margin-top: 1rem;
}



/* FOOTER */
.background__footer {
    background-color: var(--negro);
}

.description__footer {
    background-color: var(--negro);
    text-align: center;
    padding: 2rem 1rem;
}

.title__footer {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-texto);
    color: var(--gris);
    font-weight: normal;
    text-transform: uppercase;
}

.title__contact {
    font-family: var(--font-barlow-titulo);
    font-size: var(--tamaño-titulo);
    color: var(--negro);
    text-transform: uppercase;
}

.contact__footer {
    text-align: center;
    position: relative;
}

.img__contact {
    background-image: var(--contact);
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 120px 60px -30px #0D0C0C;
}

.container__contact {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.link__contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid var(--negro);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
}

.link__contact:hover {
    background-color: var(--negro);
    transition: .5s;
}


.link__contact:hover .text__icon {
    color: var(--gris);
}

.link__contact:hover .linkedin__icon {
    fill: var(--gris);
}

.link__contact:hover .gmail__icon {
    fill: var(--gris);
}

.link__contact:hover .upwork__icon {
    fill: var(--gris);
}

.link__contact:hover .behance__icon {
    fill: var(--gris);
}


.linkedin__icon,
.gmail__icon,
.upwork__icon,
.behance__icon {
    width: 30px;
    fill: var(--negro);
}

.text__icon {
    font-family: var(--font-lato-texto);
    font-size: var(--tamaño-texto);
    color: var(--negro);
}

.list__contact li {
    list-style: none;
}